<aside class="main-sidebar">

  <!-- THIS IS THE ONLY CHILD ELEMENT -->
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- CURRENT FOCUS -->
    <!-- START: Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/dist/img/me-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Michael Rogowski</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- END: Sidebar user panel -->

    <!-- SEARCH -->
    <!-- START: search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- END: search form -->


    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN MENU</li>

      <!-- DASHBOARD NODE -->
      <%- include('main-sidebar-dashboard', { node: node, leaf: leaf }) %>
      <!-- END: DASHBOARD NODE -->


      <!-- START: CALENDAR -->
      <%- include('main-sidebar-calendar', { node: node, leaf: leaf }) %>
      <!-- END: CALENDAR -->


      <!-- START: MESSAGE CENTER -->
      <%- include('main-sidebar-messages', { node: node, leaf: leaf }) %>
      <!-- END: MESSAGE CENTER -->


      <!-- START: REPORTS -->
      <%- include('main-sidebar-reports', { node: node, leaf: leaf }) %>
      <!-- END: REPORTS -->


      <!-- START: RESOURCES -->
      <%- include('main-sidebar-resources', { node: node, leaf: leaf }) %>
      <!-- END: RESOURCES -->


      <!-- START: Compute -->
      <%- include('main-sidebar-compute', { node: node, leaf: leaf }) %>
      <!-- END: COMPUTE -->

      <!-- IP -->
      <%- include('main-sidebar-ip', { node: node, leaf: leaf }) %>
      <!-- END: IP -->


      <!-- DATA OBJECTS -->
      <%- include('main-sidebar-data-objects', { node: node, leaf: leaf }) %>
      <!-- END: DATA OBJECTS -->


      <!-- DATA JOBS -->
      <%- include('main-sidebar-data-jobs', { node: node, leaf: leaf }) %>
      <!-- END: DATA JOBS -->


      <!-- START: HELP DOCS -->
      <%- include('main-sidebar-documentation', { node: node, leaf: leaf }) %>
      <!-- END: HELP DOCS -->

    </ul>
  </section>
  <!-- /.sidebar -->

</aside>
