<li class="<%= node === 'dashboard' ? 'active' : ''  %> treeview">
  <a href="#">
    <i class="fa fa-dashboard"></i> <span> Dashboard</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu"> <!-- has menu-open -->
    <li class="<%= leaf === 'overview' ? 'active' : ''  %>">
      <a href="/"><i class="fa fa-circle-o"></i> Overview</a>
    </li>
    <li class="<%= leaf === 'kb' ? 'active' : ''  %>">
      <a href="/dashboard/kb"><i class="fa fa-circle-o"></i> Knowledge Base</a>
    </li>
    <li class="<%= leaf === 'cv' ? 'active' : ''  %>">
      <a href="/dashboard/cv"><i class="fa fa-circle-o"></i> CV</a>
    </li>
    <li class="<%= leaf === 'about' ? 'active' : ''  %>">
      <a href="/dashboard/about"><i class="fa fa-circle-o"></i> About</a>
    </li>
  </ul>
</li>
